<div class="profile-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>User Profile</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>Select Profile</mat-label>
        <mat-select [value]="selectedIndex" (selectionChange)="reload($event.value)">
          <mat-option *ngFor="let profile of UserObject; let i = index" [value]="i">{{profile.username}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>

    <mat-card-content>
      <div class="profile-info">
        <div class="user-details">
          <h3 class="user-name">{{UserObject[selectedIndex].username}}</h3>
          <div class="user-email">
            <mat-icon>email</mat-icon>
            <span>{{UserObject[selectedIndex].email}}</span>
          </div>
          <div class="user-phone">
            <mat-icon>phone</mat-icon>
            <span>{{UserObject[selectedIndex].phone}}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="bookedFlights.length > 0">
    <mat-card *ngFor="let bf of bookedFlights">
      <mat-card-header>
        <mat-card-title>{{ bf.flight.flightNo }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Departure: {{ bf.flight.departure }}</p>
        <p>Arrival: {{ bf.flight.return }}</p>
        <p>Booking ID: {{ bf.booking.id }}</p>
        <button mat-raised-button color="warn" (click)="deleteBooking(bf.booking.id)">
          Cancel Booking
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<div *ngIf="bookedFlights.length === 0">
  <p>No bookings found for this user.</p>
</div>

