<div class="container" [ngClass]="{ 'mobile': isMobile }" [ngStyle]="{ 'padding': isMobile ? '1rem' : '2rem' }">
  <h1 [ngClass]="{ 'title': true, 'mobile-title': isMobile }">Welcome to FlyEasy</h1>
  <p class="subtitle" [ngStyle]="{ 'fontSize': isMobile ? '1rem' : '1.25rem' }">
    Book your flights efficiently
  </p>


  @if (!isLoggedIn) {
    <button mat-flat-button color="accent" [routerLink]="['/login']" class="tasks">
      Login
    </button>
  }

  @if (isLoggedIn) {
    <button mat-flat-button color="accent" [routerLink]="['/profile']" class="tasks">
      My Profile
    </button>
  }
</div>
