.success-dialog {
    text-align: center;
    padding: 1rem;
  
    mat-icon {
      font-size: 48px;
      margin-bottom: 0.5rem;
    }
  
    h2 {
      margin-bottom: 0.5rem;
    }
  
    p {
      margin-bottom: 1rem;
    }
  }
  